{:deps {:aliases [:vim :test]}
 :builds
 {:app
  {:target :react-native
   :init-fn za.org.functional.app/init
   :output-dir "app"
   :compiler-options {:infer-externs false
                      :output-feature-set :es5}
   :devtools {:autoload true}}
  :test 
  {:target :react-native
   :test-dir "app/test"}}}
