*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  
}

.static {
  position: static
}

.fixed {
  position: fixed
}

.relative {
  position: relative
}

.-bottom-5 {
  bottom: -1.25rem
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem
}

.mt-10 {
  margin-top: 2.5rem
}

.mt-5 {
  margin-top: 1.25rem
}

.mr-2 {
  margin-right: 0.5rem
}

.mr-1 {
  margin-right: 0.25rem
}

.block {
  display: block
}

.table {
  display: table
}

.contents {
  display: contents
}

.h-1\/6 {
  height: 16.666667%
}

.h-full {
  height: 100%
}

.h-56 {
  height: 14rem
}

.h-12 {
  height: 3rem
}

.h-16 {
  height: 4rem
}

.w-full {
  width: 100%
}

.w-4\/5 {
  width: 80%
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.content-center {
  align-content: center
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.rounded {
  border-radius: 0.25rem
}

.rounded-full {
  border-radius: 9999px
}

.rounded-2xl {
  border-radius: 1rem
}

.rounded-xl {
  border-radius: 0.75rem
}

.rounded-bl-3xl {
  border-bottom-left-radius: 1.5rem
}

.rounded-bl-2xl {
  border-bottom-left-radius: 1rem
}

.border {
  border-width: 1px
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.border-t-black {
  --tw-border-opacity: 1;
  border-top-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.bg-red-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 226 226 / var(--tw-bg-opacity))
}

.bg-red-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 202 202 / var(--tw-bg-opacity))
}

.bg-red-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(252 165 165 / var(--tw-bg-opacity))
}

.bg-red-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(248 113 113 / var(--tw-bg-opacity))
}

.bg-slate-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity))
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.bg-gray-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity))
}

.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity))
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.p-1 {
  padding: 0.25rem
}

.p-2 {
  padding: 0.5rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.pb-1 {
  padding-bottom: 0.25rem
}

.pb-2 {
  padding-bottom: 0.5rem
}

.text-center {
  text-align: center
}

.font-bold {
  font-weight: 700
}

.capitalize {
  text-transform: capitalize
}

.ordinal {
  --tw-ordinal: ordinal;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}
