*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  
}

.static {
  position: static
}

.fixed {
  position: fixed
}

.relative {
  position: relative
}

.mr-1 {
  margin-right: 0.25rem
}

.block {
  display: block
}

.table {
  display: table
}

.contents {
  display: contents
}

.h-16 {
  height: 4rem
}

.h-8 {
  height: 2rem
}

.h-full {
  height: 100%
}

.w-4\/5 {
  width: 80%
}

.w-full {
  width: 100%
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.content-center {
  align-content: center
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.rounded {
  border-radius: 0.25rem
}

.border-b {
  border-bottom-width: 1px
}

.border-solid {
  border-style: solid
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.border-b-black {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.bg-red-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 202 202 / var(--tw-bg-opacity))
}

.bg-red-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(252 165 165 / var(--tw-bg-opacity))
}

.p-1 {
  padding: 0.25rem
}

.p-2 {
  padding: 0.5rem
}

.text-center {
  text-align: center
}

.font-bold {
  font-weight: 700
}

.capitalize {
  text-transform: capitalize
}

.ordinal {
  --tw-ordinal: ordinal;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}
